@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<br>
		<div class="row">
			<div class="col-10">
				<img src="https://as2.ftcdn.net/v2/jpg/05/07/27/51/1000_F_507275101_BRkT1ykO1gOGZEZKJDYDZxjtve1D4ndf.jpg" alt="Alternative image" class="img-thumbnail">
				<div class="text-left h4">
					<p>An internal server error occured while processing your request, please try again later!</p>
				</div>
				<div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>