@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fst-italic fw-light">Welcome to Yummy</h1>
    <h1 class="display-4 fst-italic fw-light">Bar and Food</h1>
</div>
